* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  font-family: roboto, sans-serif; }

body {
  position: relative; }

button {
  cursor: pointer;
  border-radius: 0.25em; }

a {
  color: #006eff; }

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield; }

.center {
  top: 50%;
  left: 50%;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%); }

.center-text {
  text-align: center; }

.row {
  width: 100%;
  display: flex;
  justify-content: space-between; }

.input-error {
  border: red solid 1px !important; }

.text-error {
  color: red; }

.popup {
  top: 0;
  left: 0;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  display: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4); }

.block {
  display: block; }

.close-btn {
  top: 0.5em;
  right: 0.5em;
  z-index: 2;
  position: absolute;
  width: 2em;
  height: 2em;
  border-radius: 1em;
  text-align: center;
  font-size: 1em;
  font-weight: bold;
  color: #797979; }

.close-btn:hover {
  background-color: rgba(51, 51, 51, 0.2); }

.login-container {
  width: 80%;
  height: 80%;
  min-height: 470px;
  min-width: 280px;
  max-height: 700px;
  max-width: 1500px;
  display: flex;
  border-radius: 0.5em;
  overflow: hidden;
  background-color: white;
  overflow: hidden;
  box-shadow: 0 0 0.5em #7e7e7e; }

.login-container > .img-container {
  width: 50%;
  display: block;
  position: relative;
  background-color: #79acff; }

.login-container > .form-container {
  width: 50%;
  position: relative; }

.login-container > .img-container > img {
  display: block;
  width: 100%;
  max-height: 100%; }

.login-container > .form-container > .form {
  width: 100%; }

.form h2 {
  margin-bottom: 0.5em; }

.form > .input-container {
  width: 80%;
  margin: auto; }

.form > .input-container > a {
  color: #006eff;
  display: block;
  margin-top: 1em;
  font-size: 0.75em; }

.form > .input-container > div {
  margin-top: 1em;
  font-size: 0.75em; }

.form > .input-container > div button {
  color: #006eff;
  font-size: 1em; }

.form > .input-container > input,
#login-btn,
#signup-btn {
  width: 100%;
  display: block;
  margin: auto;
  border-radius: 0.25em; }

.form > .input-container > input {
  margin-top: 1em;
  height: 3.5em;
  padding: 1em;
  border: #d6d6d6 solid 1px; }

.form > .input-container > input:focus {
  border: #006eff solid 1px; }

.form > .input-container > .row > div {
  width: 60%;
  text-align: right; }

#login-btn,
#signup-btn {
  height: 3em;
  color: white;
  margin-top: 1em;
  background-color: #006eff; }

#login-btn:hover,
#signup-btn:hover {
  background-color: #3289fa; }

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .login-container > .img-container {
    width: 0%; }
  .login-container > .form-container {
    width: 100%;
    position: relative;
    margin: auto; }
  .form > .input-container {
    width: 90%;
    margin: auto; }
  .form > .input-container > .row {
    flex-direction: column; }
  .form > .input-container > .row > div {
    text-align: center;
    width: 100%; }
  #signup-btn {
    margin-top: 1em;
    margin-left: 0;
    width: 100%; } }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .login-container > .img-container {
    width: 0%; }
  .login-container > .form-container {
    width: 80%;
    position: relative;
    margin: auto; }
  .form > .input-container > .row {
    flex-direction: column; }
  .form > .input-container > .row > div {
    text-align: center;
    width: 100%; }
  #signup-btn {
    margin-top: 1em;
    margin-left: 0;
    width: 100%; } }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .login-container > .img-container {
    width: 40%; }
  .login-container > .form-container {
    width: 60%; }
  #signup-btn {
    margin-top: 1em;
    margin-left: 0;
    width: 100%; } }

@media only screen and (max-height: 450px) {
  .login-container {
    top: 0;
    transform: translate(-50%, 0); } }

.nav {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  max-height: 4em;
  width: 100%;
  z-index: 3; }

.logo {
  padding-left: 2em;
  width: 25%; }

.logo img {
  width: 120px; }

.dropdown-container {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center; }

.nav .dropdown {
  margin-left: 3em;
  position: relative; }

.nav .dropdown .dropdown-btn {
  color: whitesmoke;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 4em;
  display: block; }

.nav .dropdown .dropdown-btn:hover {
  color: #e0e0e0; }

.dropdown-list {
  width: auto;
  z-index: 2;
  display: none;
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  background-color: white;
  padding-right: 0.5em;
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.5); }

.dropdown:hover .dropdown-list {
  display: block;
  opacity: 1; }

.dropdown-item:first-of-type {
  padding-top: 1em; }

.dropdown-item {
  padding-bottom: 1em;
  padding-left: 1em;
  display: block;
  color: #3c3f42;
  font-size: 0.875em; }

a.dropdown-item {
  min-width: 15em; }

button.dropdown-item {
  min-width: 10em; }

.dropdown-item:hover {
  color: #2d7bc4; }

#account-btn {
  border: #568ed8 1px solid;
  border-radius: 2em;
  height: 3em;
  width: 10em;
  margin-right: 2em;
  color: whitesmoke;
  font-weight: 600;
  font-size: 14px; }

@media only screen and (max-width: 600px) {
  .logo {
    padding-left: 0em;
    width: 100%; }
  .dropdown-container {
    width: 0%; }
  .nav .dropdown {
    margin-left: 2em; }
  #account-btn {
    margin-right: 0em;
    width: 8em; } }

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .logo {
    padding-left: 0em;
    display: none; }
  .dropdown-container {
    width: 100%; }
  .nav .dropdown {
    margin-left: 2em; }
  #account-btn {
    margin-right: 0em;
    width: 8em; } }

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .logo {
    padding-left: 0em;
    width: 15%; }
  .nav .dropdown {
    margin-left: 2em; }
  #account-btn {
    margin-right: 0em;
    width: 8em; } }

.banner {
  width: 100%;
  height: 50vh;
  position: relative;
  margin-bottom: 100vh; }

.banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; }

.banner > div {
  position: absolute;
  box-shadow: inset 0 0 30em black;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%; }

.footer {
  position: relative;
  height: 65vh;
  width: 100%;
  padding-left: 6%;
  padding-right: 6%;
  display: flex;
  justify-content: space-between; }

.footer__contact {
  width: 19em;
  height: 22em;
  background: #3c3f42;
  padding-left: 2.5em;
  padding-right: 3.5em;
  padding-top: 2.5em;
  font-weight: 300;
  color: #dededebd;
  border-radius: 0.25em; }

.footer__contact > .content {
  text-align: justify;
  font-size: 14px;
  margin-top: 1.5em;
  margin-bottom: 2em;
  line-height: 1.5em; }

.footer__contact > h4 {
  margin-top: 1em; }

.footer__contact > h4 {
  font-size: 19px;
  font-weight: 200; }

.footer__contact > h4 > i {
  background-color: #5bc198;
  padding: 0.5em;
  border-radius: 0.25em;
  font-size: 14px;
  margin-right: 1em;
  color: white; }

.footer__link {
  margin-top: 6em; }

.footer__link > .link-title {
  color: #5bc198;
  font-size: 1.125em;
  margin-bottom: 1em; }

.footer__link > a:first-of-type {
  margin-top: 2em; }

.footer__link > a {
  display: block;
  text-decoration: none;
  color: #dededebd;
  font-size: 13px;
  margin-bottom: 1.5em;
  font-weight: 300; }

.footer__link > a:hover {
  color: #5bc198; }

.footer__link > a > i {
  margin-right: 1em; }

.footer__link > .footer-button {
  width: 11em;
  height: 3.5em;
  background-color: transparent;
  color: #5bc198;
  border: #5bc198 1.5px solid;
  border-radius: 0.25em;
  margin-bottom: 1em;
  display: block; }

.footer__link > .footer-button:hover {
  box-shadow: 0 0 8px rgba(48, 134, 8, 0.8); }

.footer__link > .visit-btn {
  background-color: #5bc198;
  border: none;
  color: white;
  border-radius: 0.25em;
  width: 2em;
  height: 2em;
  margin-right: 0.5em; }

.line {
  height: 0.25em;
  background: #3c3f42; }

.contribution-container {
  width: 80%;
  height: 80%;
  min-height: 470px;
  min-width: 280px;
  max-height: 700px;
  max-width: 1500px;
  display: flex;
  border-radius: 0.5em;
  overflow: hidden;
  background-color: #fff;
  box-shadow: 0 0 0.5em #7e7e7e; }
  .contribution-container .contribution-input-container div {
    margin-top: 1em;
    font-size: 0.75em; }
  .contribution-container .contribution-input-container .btn {
    height: 3em;
    width: 50%;
    color: white;
    margin-top: 1em;
    background-color: #006eff;
    margin: 5px;
    border-radius: 0.25em;
    display: block; }
    .contribution-container .contribution-input-container .btn:hover {
      background-color: #3289fa; }
  .contribution-container .contribution-input-container div button {
    color: #006eff;
    font-size: 1em; }
  .contribution-container .contribution-input-container input {
    border-radius: 0.25em;
    display: block;
    width: 100%;
    margin-top: 1em;
    height: 3.5em;
    padding: 1em;
    border: #d6d6d6 solid 1px; }
    .contribution-container .contribution-input-container input:focus {
      border: #006eff solid 1px; }
  .contribution-container .contribution-input-container .control-group {
    display: flex;
    vertical-align: top;
    background: #fff;
    justify-content: space-between; }
    .contribution-container .contribution-input-container .control-group .select {
      position: relative;
      display: inline-block;
      margin: 5px;
      width: 100%; }
      .contribution-container .contribution-input-container .control-group .select select {
        display: inline-block;
        width: 100%;
        cursor: pointer;
        padding: 10px 15px;
        outline: 0;
        border: 0;
        border-radius: 0;
        background: #e6e6e6;
        color: #7b7b7b;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none; }
        .contribution-container .contribution-input-container .control-group .select select::-ms-expand {
          display: none; }
        .contribution-container .contribution-input-container .control-group .select select:hover, .contribution-container .contribution-input-container .control-group .select select select:focus {
          color: #000;
          background: #ccc; }
        .contribution-container .contribution-input-container .control-group .select select:hover ~ .select__arrow, .contribution-container .contribution-input-container .control-group .select select .select select:focus ~ .select__arrow {
          border-top-color: #000; }
    .contribution-container .contribution-input-container .control-group .select__arrow {
      position: absolute;
      top: 8px;
      right: 15px;
      width: 0;
      height: 0;
      pointer-events: none;
      border-style: solid;
      border-width: 8px 5px 0 5px;
      border-color: #7b7b7b transparent transparent transparent; }
    .contribution-container .contribution-input-container .control-group .container {
      display: block;
      position: relative;
      padding-left: 25px;
      margin-bottom: 12px;
      cursor: pointer;
      font-size: 16px;
      -webkit-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none; }
      .contribution-container .contribution-input-container .control-group .container div {
        margin-top: 0; }
      .contribution-container .contribution-input-container .control-group .container input {
        width: 0;
        height: 0;
        position: absolute;
        opacity: 0;
        cursor: pointer; }
        .contribution-container .contribution-input-container .control-group .container input:checked ~ .checkmark {
          background-color: #2196F3; }
        .contribution-container .contribution-input-container .control-group .container input:checked ~ .checkmark:after {
          display: block; }
      .contribution-container .contribution-input-container .control-group .container .checkmark {
        position: absolute;
        top: 0;
        left: 0;
        height: 16px;
        width: 16px;
        background-color: #eee;
        border-radius: 50%; }
        .contribution-container .contribution-input-container .control-group .container .checkmark:after {
          content: "";
          position: absolute;
          display: none;
          top: 6px;
          left: 6px;
          width: 4px;
          height: 4px;
          border-radius: 50%;
          background: white; }
      .contribution-container .contribution-input-container .control-group .container:hover input ~ .checkmark {
        background-color: #ccc; }
      .contribution-container .contribution-input-container .control-group .container:hover input:checked ~ .checkmark {
        background-color: #2196F3; }

.App {
  width: 100vw;
  height: 100vh;
  position: relative; }
