.nav {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  max-height: 4em;
  width: 100%;
  z-index: 2;
}
.nav .dropdown {
  margin-right: 3em;
  position: relative;

}
.nav .dropdown .dropdown-btn{
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 4em;
  display: block;
}
.dropdown-list{
  width: auto;
  z-index: 3;
  display: none;
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  background-color: white;
  padding-right: 0.5em;
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.5);
}
.dropdown:hover .dropdown-list{
  display: block;
  opacity: 1;
}
.dropdown-item:first-of-type{
  padding-top: 1em;
}
.dropdown-item{
  min-width: 15em;
  padding-bottom: 1em;
  padding-left: 1em;
  display: block;
  color: #3c3f42;
  font-size: 0.875em;
}
.dropdown-item:hover{
  color: #3988d3;
}
#login-btn{
  height: 3.5em;
  width: 10em;
  color: white;
  border: #4d72d0 2px solid;
  border-radius: 2em;
  margin-right: 0.5em;
}

.banner{
  width: 100%;
  height: 50vh;
  position: relative;
}
.banner > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}
.banner > div{
  position: absolute;
  box-shadow: inset 0 0 30em black;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.skill{
  width: 100%;
  padding-left: 12.5%;
  padding-right: 12.5%;
  height: 40vh;
  margin:auto;
  display: flex; 
  justify-content: space-between;
  align-items: center;
  /* background-color:rgba(209, 244, 255, 0.3); */
}
.skill-card{
  width: 12em;
  border-radius: 0.25em;
  height: 12em;
  background-color: white;
  z-index: 2;
  padding: 1em;
  padding-top: 1em;
  background-size: 20em;
  background-color: rgba(82, 146, 175, 0.1);
  border: white 0.5em solid;
  position: relative;
}
.skill-card > .name {
  font-size: 1.25em;
  font-weight: 600;
  margin-top: 0.5em;
  text-align: center;
}
.skill-card > .img-container{
  height: 4em;
}
.skill-card img {
  width: 3.5em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
.skill-card > a {
  display: block;
  width: 8.5em;
  line-height: 2.75em;
  font-size: 0.857em;
  background: #3c3f42;
  text-align: center;
  margin: auto;
  margin-top: 1em;
  color: white;
  font-weight: 600;
  border-radius: 0.35em;
  box-shadow: 0 0 6px black;
}
.skill-card:hover{
  border: rgba(82, 153, 175, 0.4) 0.5em solid;
}
.skill-card:hover > a {
  background-color: rgba(82, 153, 175, 1);
  box-shadow: 0 0 8px rgba(82, 153, 175, 0.6);
}
.skill-card:hover > .name {
  color: rgba(82, 153, 175, 1);
}

.test{
  width: 100%;
  position: relative;
}
.slider-container{
  display: flex;
  justify-content: center;
}
.test > .slider-container{
  width: 92%;
  margin: auto;
}
.test-card {
  width: 11.5em;
  height: 16em;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-left: 1em;
  margin-right: 1em;
  border-radius: 0.25em;
  padding: 0.5em;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
}
.test-card:hover{
  background-color: rgba(111, 193, 196, 0.4);
  box-shadow: 0 0 6px rgba(114, 193, 196, 0.5);
}
.test-card > .card-title {
  color: #3c3f42;
  font-size: 1.125em;
  font-weight: 600;
  margin-top: 1em;
  padding-bottom: 0.5em;
}
.test-card > .card-info {
  margin-top: 0.25em;
}
.test-card > .img-container{
  height: 8em;
  width: 100%;
  display: flex;
  background-color: white;
  border-radius: 0.25em;
  display: block;
  margin: auto;
}
.test-card img{
  max-width: 100%;
  max-height: 100%;
  display: block;
  margin: auto;
}
.pre-btn, .next-btn{
  top: 40%;
  position: absolute;
  border: none;
  outline: none;
  width: 1.5em;
  height: 5em;
  font-size: 1em;
  border-radius: 0.5em;
  background-color: black;
  opacity: 0.3;
  color: white;
}
.pre-btn:hover, .next-btn:hover{
  opacity: 0.5;
}
.pre-btn{
  left: 1em;
}
.next-btn{
  right: 1em;
}
.see-more-btn{
  position: absolute;
  top: 0.5em;
  right: 4%;
  font-weight: 600;
}
.app{
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 3;
  display: none;
}

.filter{
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: rgba(51, 51, 51, 0.596);
}
#modal_form{
  position: fixed;
  left: 50%;
  top: 50%;
  width: 400px;
  height: 550px;
  z-index: 3;
  opacity: 1;
  margin-top: -275px;
  margin-left: -175px;
  background: #fff;
}
#close_form{
  color: rgb(105, 101, 101);
  font-size: 25px;
  position: absolute;
  top: 10px;
  right: 20px;
}
#close_form:hover{
  color: #333;
}
.login_form .login_form_title{
  font-weight: 600;
  font-size: 30px;
  display: block;
  margin: auto;
  color: #5a5a5a;
  margin-top: 100px;
  margin-bottom: 10px;
}
.login_form{
  width: 80%;
  margin: auto;
  display: flex;
  flex-direction: column;
  transition: 0.5s;
}
.login_form input{
  margin-top: 20px;
  height: 50px;
  padding-left: 10px;
  color: black;
  border-radius: 5px;
  border: 1px solid;
}
.login_form #btn_login{
  width:100%;
  background: rgb(81, 183, 187);
  color: #fff;
  height: 50px;
  border-radius: 5px;
  margin-top:30px;
}
#btn_login:hover{
  background:rgb(126, 208, 211) ;
}
.text_form{
  display: inline-block;
  color: #333;
  font-weight: 700;
  text-align: center;
  margin-top: 10px;
}
.text_form2{
  font-weight: 400;
}
.login_form #google_login_btn{
  width:60%;
  height: 50px;
  border-radius: 5px;
  color:#333;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(212, 25, 25);
  display: block;
  margin: auto;
  margin-top: 20px;
}
#google_login_btn i{
  font-size: 24px;
  color: #fff;
}
#google_login_btn:hover{
  background: red;
}
.login_form a{
  display: block;
  margin: auto;
  margin-top: 25px;
  color: #7b7d80;
  font-size: 14px;
}
.login_form a span{
  color: #3988d3;
}
.login_form a span:hover{
  color: #58aaf7;
}
.login_form a:hover{
  color: #535457;
}
.footer{
  position: relative;
  height: 65vh;
  width: 100%;
  background: url('./img/footer-bg.jpg');
  padding-left: 6%;
  padding-right: 6%;
  display: flex;
  justify-content: space-between;
}
.footer__contact{
  width: 19em;
  height: 22em;
  background: #3c3f42;
  padding-left: 2.5em;
  padding-right: 3.5em;
  padding-top: 2.5em;
  font-weight: 300;
  color: #dededebd;
  border-radius: 0.25em;
}
.footer__contact > .content {
  text-align: justify;
  font-size: 14px;
  margin-top: 1.5em;
  margin-bottom: 2em;
  line-height: 1.5em;
}
.footer__contact > h4 {
  margin-top: 1em;
}
.footer__contact > h4 {
  font-size: 19px;
  font-weight: 200;
}
.footer__contact > h4 > i {
  background-color: #5bc198;
  padding: 0.5em;
  border-radius: 0.25em;
  font-size: 14px;
  margin-right: 1em;
  color: white;
}
.footer__link {
  margin-top: 6em;
}
.footer__link > .link-title {
  color: #5bc198;
  font-size: 1.125em;
  margin-bottom: 1em;
}
.footer__link > a:first-of-type{
  margin-top: 2em;
}
.footer__link > a{
  display: block;
  text-decoration: none;
  color: #dededebd;
  font-size: 13px;
  margin-bottom: 1.5em;
  font-weight: 300;
}
.footer__link > a:hover{
  color: #5bc198;
}
.footer__link > a > i{
  margin-right: 1em;
}
.footer__link > .footer-button{
  width: 11em;
  height: 3.5em;
  background-color: transparent;
  color: #5bc198;
  border: #5bc198 1.5px solid;
  border-radius: 0.25em;
  margin-bottom: 1em;
  display: block;
}
.footer__link > .footer-button:hover{
  box-shadow: 0 0 8px rgba(48, 134, 8, 0.8);
}
.footer__link > .visit-btn{
  background-color: #5bc198;
  border: none;
  color: white;
  border-radius: 0.25em;
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
}
.line {
    height: 0.25em;
    background: #3c3f42;
}