.sidebar{
    width: 80px;
    height: 100vh;
    position: fixed;
    background-color: #15192b;
    left: 0;
    top: 0;
    z-index: 2;
    transition: width 0.2s ease;
}
#open_sidebar_btn{
    position: absolute;
    right: -12px;
    top: 0;
    font-size: 20px;
    background-color: #eda82a;
    border-radius: 100%;
    width: 25px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#open_sidebar_btn ion-icon{
    color: black;
    font-weight: bold;
}
.sidebar_menu{
    display: flex;
    flex-direction: column;
    list-style: none;
    height: 100%;
    align-items: center;
    margin-top: 60px;
}
.sidebar_item{
    width: 100%;
}
.sidebar_item_link{
    display: flex;
    align-items: center;
    height: 80px;
    text-decoration: none;
    color: #bcb9c2;
    border-radius: 10px;
}
.sidebar_item_text{
    opacity: 0;
    transition: 0.1s ease;
}
.sidebar_item_link ion-icon{
    min-width: 32px;
    font-size: 30px;
    border-radius: 10px;
    margin: 0 16px;
    margin-left: 20px;
    font-weight: bold;
}
/*Show sidebar*/
.sidebar.active{
    width: 16em;
}
.sidebar.active .sidebar_item_text{
    opacity: 1;
    transition: 0.2s ease;
}
.sidebar.active #open_sidebar_btn{
    transform: rotate(180deg);
}
#dashboard_content.expander{
    padding-left: 10em;
    transition: 0.3s ease;
}
.sidebar_item_link:focus ion-icon{
    color: rgb(77, 48, 6);
    transition: 0.2s;
}
.sidebar_item_link:focus .sidebar_item_text{
    color: rgb(77, 48, 6);
    transition: 0.2s;
}
.sidebar_item_link:hover{
    background-color: #1d223b;
}
.sidebar_item_link:focus{
    background-color:#eda82a ;
    transition: 0.2s;
}
#dashboard_content{
    position: relative;
    top: 3.6em;
    left: 200px;
    width: 80%;

    transition: 0.3s ease;
}
.dashboard_title{
    color: #3c3f42;
    margin: 50px 50px;
}
.cards{
    width: 100%;
    margin-left: 50px;
    display: flex;
}
.card{
    position: relative;
    width: 20%;
    height: 250px;
    border-radius: 15px;
    box-shadow: 4px 4px 18px #8888;
    margin-right: 50px;
    transition: 0.3s;
}
.card_img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    border-radius: 15px 15px 0 0;
    height: 60%;
}
.card_name{
    display: block;
    position: absolute;
    left: 0;
    top: 60%;
    z-index: 1;
    text-decoration: none;
    font-weight: bold;
    color: rgb(43, 43, 43);
    margin-top: 20px;
    margin-left: 20px;
    text-transform: uppercase;
}
.card_quantity{
    position: absolute;
    right: 0;
    bottom: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: 600;
    margin-bottom: 10px;
    margin-right: 10px;
    color: teal;
}
.card:hover {
    transform: scale(1.03);
    box-shadow: 4px 6px 30px #8888;
    transition: 0.3s;
}
