$tr_gray_border: #f0f0f0;
$tr_powder_blue: #b3e0d6;

.account-info-sidebar {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 3;
    display: none;
    animation: fadeIn 0.8s;
  }

  .sidebar {
    background: #fff;
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    width: 340px;
    z-index: 3;
    transform: translateX(100%);
    transition: 0.8s;

      .icon {
        width: 100%;
        height: 80px;
        color: $tr_powder_blue;
        margin-top: 42px;
      }

      .user-info {
        text-align: center;
        margin-top: 22px;

        .user-name {
          font-weight: bold;
          font-size: 20px;
          margin-bottom: 12px;
        }
      }

      .options {
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        list-style: none;

        li {
          cursor: pointer;
          text-align: center;
          height: 44px;
          line-height: 44px;
          border-top: 1px solid $tr_gray_border;

          &:hover {
            background: $tr_powder_blue;
          }
        }
      }

      .test-history {
        display: none;
        animation: fadeIn 0.8s;
      }

      .contribution-history {
        // background: $tr_powder_blue;
        border-right: 1px solid $tr_gray_border;
        background: #fff;
        position: absolute;
        top: 0;
        bottom: 0;
        right: 100%;
        width: 430px;
        overflow-y: scroll;
        display: none;
        animation: fadeIn 0.8s;

        &::-webkit-scrollbar {
          display: none;
        }

        .contribution-card {
          background: $tr_powder_blue;
          margin: 8px 8px;
          padding: 10px 16px;

          .title {
            font-weight: bold;
            font-size: 17px;
            margin-bottom: 4px;
          }

          .status {

          }
        }
      }
  }

  &.active {
    .overlay {
      display: block;
    }

    .sidebar {
      transform: translateX(0);

      .test-history {
        &.active {
          display: block;
        }
      }

      .contribution-history {
        &.active {
          display: block;
        }
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
}