.banner {
  width: 100%;
  height: 50vh;
  position: relative;
  margin-bottom: 100vh;
}
.banner > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}
.banner > div {
  position: absolute;
  box-shadow: inset 0 0 30em black;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
