* {
  padding: 0;
  margin: 0;
  border: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
  background-color: transparent;
  font-family: roboto, sans-serif;
}

body {
  position: relative;
}

button {
  cursor: pointer;
  border-radius: 0.25em;
}

a {
  color: $blue;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.center {
  top: 50%;
  left: 50%;
  position: absolute;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.center-text {
  text-align: center;
}

.row {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.input-error {
  border: red solid 1px !important;
}

.text-error {
  color: red;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.4);
}
