.discussion-detail-card {
  display: flex;
  // align-items: center;
  border-bottom: 1px solid #e2e2e2;
  padding: 12px 0;

  .voting-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: -10px;
    margin-top: -12px;

    .up-vote,
    .down-vote {
      width: 50px;
      height: 50px;
      cursor: pointer;
      color: #c4c4c4;
    }

    .up-vote {
      margin-bottom: -10px;
    }

    .vote-counter {
    }

    .down-vote {
      margin-top: -10px;
    }
  }

  .comment-content {
    margin-left: 10px;
    text-align: justify;
    flex-grow: 1;
  }

  .author {
    text-align: center;
    margin-left: 30px;
    margin-right: 20px;

    .author-avatar {
      width: 32px;
      height: 32px;
      background-color: #c6bbbb;
      margin: 0 auto;
      line-height: 32px;
      border-radius: 4px;
    }

    .author-name {
      margin-top: 6px;
      font-size: 14px;
      color: #09a5d4;
    }
  }
}
