.all-discussions {
  margin-top: 2em;

  .section-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;

    .all-discussions-area {
      position: relative;
      padding-left: 4px;
      padding-right: 4px;
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
      border-left: 1px solid #ddd;

      .all-discussions-wrapper {
        padding: 0 18px;

        .title {
          font-size: 30px;
          font-weight: 500;
          margin-top: 12px;
        }

        .discussions-quantity {
          margin: 28px 0 18px 0;
          font-size: 18px;
        }

        .divider {
          border-bottom: 1px solid #ccc;
          margin-left: -22px;
          margin-right: -18px;
        }
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
