.discussion {
  margin-top: 2em;

  .section-wrapper {
    display: flex;
    flex-wrap: wrap;
    margin-left: -4px;
    margin-right: -4px;

    .discussions-area {
      position: relative;
      padding-left: 4px;
      padding-right: 4px;
      flex: 0 0 66.66667%;
      max-width: 66.66667%;
      border-left: 1px solid #ddd;

      .discussions-wrapper {
        padding: 0 18px;

        .title {
          font-size: 26px;
          font-weight: 500;
          margin-top: 12px;
          border-bottom: 1px solid #eee;
          padding-bottom: 10px;
        }

        .replies-quantity {
          margin-top: 20px;
          margin-left: 4px;
          margin-bottom: 22px;
          font-size: 18px;
        }
      }
    }
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }

  @keyframes fadeOut {
    from {
      opacity: 1;
    }
    to {
      opacity: 0;
    }
  }
}
