.footer {
  position: relative;
  height: 65vh;
  width: 100%;
  padding-left: 6%;
  padding-right: 6%;
  display: flex;
  justify-content: space-between;
}
.footer__contact {
  width: 19em;
  height: 22em;
  background: #3c3f42;
  padding-left: 2.5em;
  padding-right: 3.5em;
  padding-top: 2.5em;
  font-weight: 300;
  color: #dededebd;
  border-radius: 0.25em;
}
.footer__contact > .content {
  text-align: justify;
  font-size: 14px;
  margin-top: 1.5em;
  margin-bottom: 2em;
  line-height: 1.5em;
}
.footer__contact > h4 {
  margin-top: 1em;
}
.footer__contact > h4 {
  font-size: 19px;
  font-weight: 200;
}
.footer__contact > h4 > i {
  background-color: #5bc198;
  padding: 0.5em;
  border-radius: 0.25em;
  font-size: 14px;
  margin-right: 1em;
  color: white;
}
.footer__link {
  margin-top: 6em;
}
.footer__link > .link-title {
  color: #5bc198;
  font-size: 1.125em;
  margin-bottom: 1em;
}
.footer__link > a:first-of-type {
  margin-top: 2em;
}
.footer__link > a {
  display: block;
  text-decoration: none;
  color: #dededebd;
  font-size: 13px;
  margin-bottom: 1.5em;
  font-weight: 300;
}
.footer__link > a:hover {
  color: #5bc198;
}
.footer__link > a > i {
  margin-right: 1em;
}
.footer__link > .footer-button {
  width: 11em;
  height: 3.5em;
  background-color: transparent;
  color: #5bc198;
  border: #5bc198 1.5px solid;
  border-radius: 0.25em;
  margin-bottom: 1em;
  display: block;
}
.footer__link > .footer-button:hover {
  box-shadow: 0 0 8px rgba(48, 134, 8, 0.8);
}
.footer__link > .visit-btn {
  background-color: #5bc198;
  border: none;
  color: white;
  border-radius: 0.25em;
  width: 2em;
  height: 2em;
  margin-right: 0.5em;
}
.line {
  height: 0.25em;
  background: #3c3f42;
}
