.card_container{
    width: 400px;
    height: 20vh;
    box-shadow: 0 0 3px black;
    padding-left: 10px;
    display: flex;
    align-items: center;
    margin: 20px 0;
  }
  
  .card_title{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .card_title h2{
   margin-bottom: 20px;
   font-size: 30px;
  }
  .card_information{
    font-size: 20px;
  }
  .card_logo{
    width: 50%;
    height: 100%;
    text-align: center;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
  }