.skill {
  width: 100%;
  height: 50vh;
  padding-left: 10%;
  padding-right: 10%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.skill-card {
  width: 18vw;
  border-radius: 0.25em;
  background-color: white;
  z-index: 2;
  position: relative;
  border: white 0.5em solid;
}
.skill-card > .name {
  font-size: 22px;
  margin-top: 0.5em;
  margin-bottom: 1em;
  font-weight: normal;
  font-style: normal;
  text-align: center;
  font-family: "Open Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  color: #3c3f42;
}
.skill-description {
  text-align: center;
  font-family: "Open Sans", Arial, Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 13px;
  color: #868686;
  line-height: 1.5em;
  padding-left: 0.75em;
  padding-right: 0.75em;
}
.skill-card img {
  width: 4.5em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
