.nav {
  position: fixed;
  left: 0;
  top: 0;
  display: flex;
  align-items: center;
  max-height: 4em;
  width: 100%;
  z-index: 3;
  background: rgba(0, 0, 0, 0.5);
}
.nav .dropdown {
  margin-right: 3em;
  position: relative;
}
.dropdown-container {
  display: flex;
}
.nav .dropdown .dropdown-btn {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 14px;
  line-height: 4em;
  display: block;
}
.dropdown-list {
  width: auto;
  z-index: 3;
  display: none;
  opacity: 0;
  transition: opacity 1s;
  position: absolute;
  background-color: white;
  padding-right: 0.5em;
  border-radius: 0.25em;
  box-shadow: 0 0 0.25em rgba(0, 0, 0, 0.5);
}
.dropdown:hover .dropdown-list {
  display: block;
  opacity: 1;
}
.dropdown-item:first-of-type {
  padding-top: 1em;
}
.dropdown-item {
  min-width: 15em;
  padding-bottom: 1em;
  padding-left: 1em;
  display: block;
  color: #3c3f42;
  font-size: 0.875em;
}
.dropdown-item:hover {
  color: #3988d3;
}
