.modal {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba($color: #000000, $alpha: 0.2);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  .score-popup {
    display: none;
    max-width: 100%;
    max-height: 100%;
    width: 300px;
    height: 400px;
    background: white;
    border-radius: 0.25em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.25em;
    position: relative;
    button {
      top: 20px;
      right: 20px;
      position: absolute;
      width: 1.75em;
      height: 1.75em;
      border-radius: 0.25em;
      background: #ff6666;
      color: white;
    }
    > div {
      cursor: pointer;
      width: 6em;
      height: 2.5em;
      border: 1px #333 solid;
      text-align: center;
      line-height: 2.5em;
      border-radius: 0.25em;
      margin-top: 2em;
      font-size: 0.75em !important;
    }
    span {
      margin-top: 1em;
      width: 7em;
      height: 7em;
      line-height: 7em;
      font-weight: lighter;
      text-align: center;
      border-radius: 100%;
      background: $test-page-main-color;
      color: white;
      display: block;
    }
  }
}

.loading_page {
  height: calc(100vh - 6em);
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  img {
    width: 10em;
    display: block;
    margin: auto;
  }
  div {
    text-align: center;
  }
}
