.profile_container{
    position: relative;
    width: 100vw;
    height: 100vh;
    margin: auto;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: white;
    z-index: 2;
}

.profile_ava img{
    width: 100px;
    margin-bottom: 20px;
}
.profile_form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.input_container{
    position: relative;
    margin-bottom: 50px;
    width: 350px;
}
.input_container input{
    height: 7vh;
    width: 100%;
    border: 2.5px solid rgb(22, 117, 155);
    padding-left: 15px;
    box-sizing: border-box;
    color:rgb(28, 126, 126) ;
}
.input_container input:focus{
    outline: none;
}
.input_container label{
    position: absolute;
    top: -10px;
    left: 20px;
    display: inline-block;
    background-color: white;
    font-weight: bold;
    color:rgb(28, 126, 126);
    padding: 0 10px;
}
.button_container{
    width: 350px;
    display: flex;
    justify-content: space-around;
}
.updateinfo_btn{
    width: 48%;
    height: 7vh;
    color: white;
    background-color: rgb(41, 160, 160);
    border: none;
    cursor: pointer;
}
.updateinfo_btn:hover{
    background-color: rgb(32, 139, 139);
}
#close_updateprofile{
  position: fixed;
  top: 20px;
  right: 20px;
  font-size: 30px;
  z-index: 3;
}