.table_container{
  font-family: 'Poppins', sans-serif;
  width: 64%;
  box-sizing: border-box;
  box-shadow: 0 0 3px black;
}
.viewtest_btn{
  color: #11993f;
  background-color: #e1fff8;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Poppins', sans-serif;
  border-radius: 10px;
}
.viewtest_btn:hover{
  background-color: #c7faee;
}