.new-test {
  position: relative;
  width: 100%;
  background-image: url(https://dental-clinic.cmsmasters.net/wp-content/uploads/2015/07/content-dot2.jpg);
  #preBtn,
  #nextBtn {
    position: absolute;
    top: 43%;
    font-size: 1.25em;
    height: 2.5em;
    width: 1.25em;
    color: black;
    background-color: rgba($color: #000000, $alpha: 0.3);
    opacity: 0.4;
    z-index: 1;
  }
  #preBtn {
    left: 0.5em;
  }
  #nextBtn {
    right: 0.5em;
  }
  h3 {
    font-size: 22px;
    padding-top: 1.5em;
    color: #333;
  }
  .slider-container {
    width: 100%;
    padding: 3%;
    padding-top: 2em;
    display: flex;
    justify-content: space-around;
    margin: auto;
    .test-card {
      background-color: white;
      box-shadow: $shadow;
      border: $border;
      width: 25%;
      padding: 1em;
      border-radius: 0.25em;
      margin: 1em;
      margin-top: 0;
      .img-container {
        width: 70%;
        margin: auto;
        margin-bottom: 0.75em;
        margin-top: 0.75em;
        img {
          display: block;
          margin: auto;
          width: 80%;
        }
      }
      a {
        width: 7em;
        color: rgb(42, 216, 172);
        border: rgb(42, 216, 172) 2px solid;
        border-radius: 1em;
        line-height: 1.5em;
        text-align: center;
      }
      a:hover {
        color: rgb(10, 182, 139);
        border: rgb(10, 182, 139) 2px solid;
      }
      p {
        color: #868686;
        font-size: 14px;
        margin-top: 0.25em;
      }
    }
  }
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .new-test {
    .slider-container {
      padding: 8%;
      .test-card {
        a {
          width: 6em;
        }
      }
    }
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) and (max-width: 768px) {
  .new-test {
    #preBtn {
      left: 0.25em;
    }
    #nextBtn {
      right: 0.25em;
    }
    .slider-container {
      padding: 3%;
      .test-card {
        a {
          width: 6em;
        }
      }
    }
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width: 991px) {
  .new-test {
    #preBtn {
      left: 0.25em;
    }
    #nextBtn {
      right: 0.25em;
    }
    .slider-container {
      padding: 3%;
      .test-card {
        a {
          width: 6em;
        }
      }
    }
  }
}
