@import "./variable";
@import "./base";
@import "./login";
@import "./nav";
@import "./banner";
@import "./footer";
@import "./toeicInfo";
@import "./accountInfo";
@import "./contributionHistory";
@import "./discussions";
@import "./discussion";

.App {
  width: 100vw;
  height: 100vh;
  position: relative;
}
