@import "./variable";
@import "./base";
@import "./login";
@import "./nav";
@import "./banner";
@import "./footer";
@import "./contribution";


.App {
  width: 100vw;
  height: 100vh;
  position: relative;
}
