@import "./variable";
@import "./base";
@import "./login";
@import "./nav";
@import "./banner";
@import "./footer";
@import "./listSkills";
@import "./test";
@import "./popup";
@import "./home";
.App {
  width: 100vw;
  height: 100vh;
  position: relative;
}
